### Datasets ###
datasets

### Pretrained and Fine-tuned Models ###
**/pretrained
supervised/finetuned
supervised/checkpoints

### Helper Files ###
**/prompt.py
**/prompt.txt
**/*.sh

### Large Output Files ###
zero-shot/preprocess_outputs
zero-shot/nll_outputs
zero-shot/fft_outputs

### Python Cache ###
__pycache__/
*.pyc
